@tailwind base;
@tailwind components;
@tailwind utilities;
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive table {
  min-width: 800px; /* o el tamaño que necesites */
}
